
<header id="masthead-mobile" class="uk-hidden@m">
    <div class="uk-navbar-container" uk-sticky="media: 640; top: 500; animation: uk-animation-slide-top">
        <div class="uk-container ">
		    <nav class="uk-navbar">
		        <div class="uk-navbar-right">
		            <a class="uk-navbar-toggle" href="#tm-mobile" uk-toggle>
		                <div uk-navbar-toggle-icon></div>
		            </a>
		        </div>
		        <div class="uk-navbar-center">
		            <a class="uk-navbar-item uk-logo" href="{{ site.url}}{{ site.baseurl }}">
		                 <img src="{{ site.url}}{{ site.baseurl }}/assets/images/logo.svg" alt="{{ site.title }}" class="uk-responsive-height"> </a>
		        </div>
		    </nav>
		</div>
	</div>
    {% include site__nav-offcanvas.html %}
</header><!-- /#masthead-mobile -->

<header id="masthead" class="uk-visible@m">
    <div class="uk-navbar-container" uk-sticky="media: 640; top: 500; animation: uk-animation-slide-top">
        <div class="uk-container ">
            <nav class="uk-navbar">
                <div class="uk-navbar-left">
                    <a href="{{ site.url}}{{ site.baseurl }}">
                        <img src="{{ site.url}}{{ site.baseurl }}/assets/images/logo.svg" alt="{{ site.title }}" class="uk-responsive-height">
                     </a>
                </div>
                <div class="uk-navbar-right">
                    {% include site__nav-main.html %}
                </div>
            </nav>
        </div>
    </div>
</header><!-- /#masthead -->