<nav class="uk-navbar uk-margin-top uk-margin-bottom">
    <a class="uk-navbar-brand uk-hidden-small" href="{{ site.url }}">{{ site.title }}</a>
    <ul class="uk-navbar-nav uk-navbar-flip uk-hidden-small">
        {% for item in site.data.navigation.main %}
	       	
	       	{% assign class = nil %}
	        {% if page.url contains item.url %}
	        	{% assign class = 'uk-active' %}
	        {% endif %}
	        <li class="{{ class }}">
	        	<a href="{{ site.url}}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
	        </li>

	    {% endfor %}
    </ul>
    <a href="#offcanvas" class="uk-navbar-toggle uk-navbar-flip uk-visible-small" data-uk-offcanvas></a>
    <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Brand</div>
</nav>