@charset "utf-8";

@import "vendor/uikit/uikit-mixins.scss";

$navbar-background: #fff;
$base-body-background: #fff;
$base-body-font-family: Georgia, Helvetica, Arial, sans-serif;

@import "vendor/uikit/uikit.scss";

@import "vendor/uikit/components/autocomplete.scss";