// Global variables
// ========================================================================

$breakpoint-small:                             640px;  // Phone landscape
$breakpoint-medium:                            960px;  // Tablet Landscape
$breakpoint-large:                             1200px; // Desktop
$breakpoint-xlarge:                            1600px; // Large Screens
$breakpoint-xsmall-max:                        ($breakpoint-small - 1);
$breakpoint-small-max:                         ($breakpoint-medium - 1);
$breakpoint-medium-max:                        ($breakpoint-large - 1);
$breakpoint-large-max:                         ($breakpoint-xlarge - 1);

$global-font-family:                            "Helvetica Neue", Helvetica, Arial, sans-serif;
$global-font-size:                              16px;
$global-line-height:                            1.5;      // 24px
$global-xxlarge-font-size:                      2.625rem; // 42px
$global-xlarge-font-size:                       2rem;     // 32px
$global-large-font-size:                        1.5rem;   // 24px
$global-medium-font-size:                       1.25rem;  // 20px
$global-small-font-size:                        0.875rem; // 14px
$global-color:                                  #444;
$global-emphasis-color:                         #333;
$global-muted-color:                            #999;
$global-link-color:                             #1e87f0;
$global-link-hover-color:                       #0f6ecd;
$global-inverse-color:                          #fff;
$global-background:                             #fff;
$global-muted-background:                       #f8f8f8;
$global-primary-background:                     #1e87f0;
$global-secondary-background:                   #222;
$global-success-background:                     #32d296;
$global-warning-background:                     #faa05a;
$global-danger-background:                      #f0506e;
$global-border-width:                           1px;
$global-border:                                 #e5e5e5;
$global-small-box-shadow:                       0 2px 8px rgba(0,0,0,0.08);
$global-medium-box-shadow:                      0 5px 15px rgba(0,0,0,0.08);
$global-large-box-shadow:                       0 14px 25px rgba(0,0,0,0.16);
$global-xlarge-box-shadow:                      0 28px 50px rgba(0,0,0,0.16);
$global-margin:                                 20px;
$global-small-margin:                           10px;
$global-medium-margin:                          40px;
$global-large-margin:                           70px;
$global-xlarge-margin:                          140px;
$global-gutter:                                 30px;
$global-small-gutter:                           15px;
$global-medium-gutter:                          40px;
$global-large-gutter:                           70px;
$global-control-height:                         40px;
$global-control-small-height:                   30px;
$global-control-large-height:                   55px;
$global-z-index:                                1000;



//
// Backgrounds & Borders
//

$global-border:                                 #ddd;




$color-primary-dark:							#002f5f;
$color-primary-light:							#ddcd69;

$header-background-color:						#fff;
$header-border: 								none;

$footer-background-color:						#ccc;
$footer-background-image:						;	
$footer-background-repeat:						no-repeat;
$footer-background-position:					center top;

$base-body-font-family:                         $global-font-family !default;
$base-body-font-family-loaded: 					"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-body-font-weight:                         normal;
$base-body-font-weight-loaded:                  300;
$base-body-font-size:                           $global-font-size !default;
$base-body-line-height:                         $global-line-height !default;

$base-link-text-decoration:                     none;
$base-link-hover-text-decoration:               underline;

$base-heading-font-family: 						"Helvetica Neue", Helvetica, Arial, sans-serif;
$base-heading-font-family-loaded: 				"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-heading-font-family-secondary: 			"Helvetica Neue", Helvetica, Arial, sans-serif;
$base-heading-font-family-secondary-loaded: 	"Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-heading-font-weight: 						bold; 
$base-heading-font-weight-loaded: 				600; 
$base-heading-font-weight-secondary: 			bold;
$base-heading-font-weight-secondary-loaded: 	600; 
$base-heading-color: 							#444;
$base-heading-text-transform: 					none;
$base-heading-text-transform-secondary: 		uppercase;
$base-heading-letter-spacing:					0; 
$base-heading-line-height: 						1.2; 
$base-heading-margin-top: 						1.5625em; /* 25/16 */

$base-h1-font-size:                             round(($base-body-font-size * 2.3125));
$base-h1-line-height:                           $base-heading-line-height;
$base-h2-font-size:                             round(($base-body-font-size * 1.9));
$base-h2-line-height:                           $base-heading-line-height;
$base-h3-font-size:                             round(($base-body-font-size * 1.3375));
$base-h3-line-height:                           $base-heading-line-height;
$base-h4-font-size:                             round(($base-body-font-size * 1.05));
$base-h4-line-height:                           $base-heading-line-height;
$base-h5-font-size:                             14px;
$base-h5-line-height:                           $base-heading-line-height;
$base-h6-font-size:                             round(($base-body-font-size * 0.85));
$base-h6-line-height:                           $base-heading-line-height;

$base-selection-background:                     #39f !default;
$base-selection-color:                          #fff !default;

$contrast-color:                                #fff !default;
$contrast-inverted-color:                       #444 !default;

$text-small-font-size:                          round(($base-body-font-size * 0.8));
$text-small-line-height:                        $base-body-line-height;
$text-large-font-size:                          round(($base-body-font-size * 1.2));
$text-large-line-height:                        $base-body-line-height;
$text-large-font-weight:                        $base-body-font-weight;
$text-large-font-weight-loaded:                 $base-body-font-weight-loaded;

/* Buttons
 ========================================================================== */

$button-line-height:                            $global-control-height !default;
$button-small-line-height:                      $global-control-small-height !default;
$button-large-line-height:                      $global-control-large-height !default;

$button-font-size:                              $global-font-size !default;
$button-small-font-size:                        $global-small-font-size !default;
$button-large-font-size:                        $global-medium-font-size !default;

$button-padding-horizontal:                     $global-gutter !default;
$button-small-padding-horizontal:               $global-small-gutter !default;
$button-large-padding-horizontal:               $global-medium-gutter !default;

$button-default-background:                     transparent;
$button-default-color:                          $global-primary-background;
$button-default-hover-background:               $global-primary-background;
$button-default-hover-color:                    #fff;
$button-default-active-background:              darken($button-default-background, 10%) !default;
$button-default-active-color:                   $global-emphasis-color !default;

$button-primary-background:                     $global-primary-background !default;
$button-primary-color:                          $global-inverse-color !default;
$button-primary-hover-background:               darken($button-primary-background, 5%) !default;
$button-primary-hover-color:                    $global-inverse-color !default;
$button-primary-active-background:              darken($button-primary-background, 10%) !default;
$button-primary-active-color:                   $global-inverse-color !default;

$button-secondary-background:                   $global-secondary-background !default;
$button-secondary-color:                        $global-inverse-color !default;
$button-secondary-hover-background:             darken($button-secondary-background, 5%) !default;
$button-secondary-hover-color:                  $global-inverse-color !default;
$button-secondary-active-background:            darken($button-secondary-background, 10%) !default;
$button-secondary-active-color:                 $global-inverse-color !default;

$button-danger-background:                      $global-danger-background !default;
$button-danger-color:                           $global-inverse-color !default;
$button-danger-hover-background:                darken($button-danger-background, 5%) !default;
$button-danger-hover-color:                     $global-inverse-color !default;
$button-danger-active-background:               darken($button-danger-background, 10%) !default;
$button-danger-active-color:                    $global-inverse-color !default;

$button-disabled-background:                    $global-muted-background !default;
$button-disabled-color:                         $global-muted-color !default;

$button-text-line-height:                       $global-line-height !default;
$button-text-color:                             $global-muted-color !default;
$button-text-hover-color:                       $global-color !default;
$button-text-disabled-color:                    $global-muted-color !default;

$button-link-line-height:                       $global-line-height !default;
$button-link-color:                             $global-link-color !default;
$button-link-hover-color:                       $global-link-hover-color !default;
$button-link-hover-text-decoration:             underline !default;
$button-link-disabled-color:                    $global-muted-color !default;

@mixin hook-button() {
	border-radius: 4px;
	text-transform: none;
	letter-spacing: 1px;
}

@mixin hook-button-default() {
	border: $global-border-width solid $global-primary-background;
}

/* Navigation
 ========================================================================== */

$navbar-background: 							#fff;
$navbar-color-mode:                             none !default;

$navbar-nav-item-height:     					60px;
$navbar-nav-item-padding-horizontal:            15px !default;
$navbar-nav-item-color:                         $global-muted-color !default;
$navbar-nav-item-font-size:                     round(($base-body-font-size * 0.9));
/* $navbar-nav-item-font-family:                   $global-font-family !default;
$navbar-nav-item-hover-color:                   $global-color !default;
$navbar-nav-item-onclick-color:                 $global-emphasis-color !default;
$navbar-nav-item-active-color:                  $global-emphasis-color !default;

$navbar-item-color:                             $global-color !default;

$navbar-toggle-color:                           $global-muted-color !default;
$navbar-toggle-hover-color:                     $global-color !default;

$navbar-subtitle-font-size:                     $global-small-font-size !default;

$navbar-dropdown-z-index:                       $global-z-index + 20 !default;
$navbar-dropdown-width:                         200px !default;
$navbar-dropdown-margin:                        0 !default;
$navbar-dropdown-padding:                       15px !default;
$navbar-dropdown-background:                    $global-muted-background !default;
$navbar-dropdown-color:                         $global-color !default;
$navbar-dropdown-grid-gutter-horizontal:        $global-gutter !default;
$navbar-dropdown-grid-gutter-vertical:          $navbar-dropdown-grid-gutter-horizontal !default;

$navbar-dropdown-dropbar-margin-bottom:         30px !default;

$navbar-dropdown-nav-item-color:                $global-muted-color !default;
$navbar-dropdown-nav-item-hover-color:          $global-color !default;
$navbar-dropdown-nav-item-active-color:         $global-emphasis-color !default;
$navbar-dropdown-nav-header-color:              $global-emphasis-color !default;
$navbar-dropdown-nav-divider-border-width:      $global-border-width !default;
$navbar-dropdown-nav-divider-border:            $global-border !default;
$navbar-dropdown-nav-sublist-item-color:        $global-muted-color !default;
$navbar-dropdown-nav-sublist-item-hover-color:  $global-color !default;

$navbar-dropbar-background:                     $navbar-dropdown-background !default;
$navbar-dropbar-z-index:                        $global-z-index + 20 !default;

/*--- old styles --*/

$navbar-nav-font-weight:                         $base-body-font-weight;
$navbar-nav-font-weight-loaded:                  $base-body-font-weight-loaded;
$navbar-nav-font-family:                         $base-body-font-family;
$navbar-nav-font-family-loaded:                  $base-body-font-family-loaded;
$navbar-nav-hover-background:                    transparent;
$navbar-nav-hover-color:                         #6c6d74;
$navbar-nav-onclick-background:                  transparent;
$navbar-nav-onclick-color:                       #2D2E33;
$navbar-nav-active-background:                   transparent;
$navbar-nav-active-color:                        #2D2E33;

/* Item */

@mixin hook-navbar-nav-item() {
	text-transform: uppercase;
}

/* Card
 ========================================================================== */

$card-default-background: #fff;

@mixin hook-card-default() {
	box-shadow: $global-medium-box-shadow;
}

